In [13]:
# Import libraries
#!pip install kaggle
#import kaggle
#import pandas as pd
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (1.4.7)

WARNING: Error parsing dependencies of pyodbc: Invalid version: '4.0.0-unsupported'
WARNING: Error parsing dependencies of pyzmq: Invalid version: 'cpython'
ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\LENOVO\anaconda3\lib\site-packages\pip\_internal\cli\base_command.py", line 105, in _run_wrapper
    status = _inner_run()
  File "C:\Users\LENOVO\anaconda3\lib\site-packages\pip\_internal\cli\base_command.py", line 96, in _inner_run
    return self.run(options, args)
  File "C:\Users\LENOVO\anaconda3\lib\site-packages\pip\_internal\cli\req_command.py", line 67, in wrapper
    return func(self, options, args)
  File "C:\Users\LENOVO\anaconda3\lib\site-packages\pip\_internal\commands\install.py", line 483, in run
    installed_versions[distribution.canonical_name] = distribution.version
  File "C:\Users\LENOVO\anaconda3\lib\site-packages\pip\_internal\metadata\pkg_resources.py", line 192, in version
    return parse_version(self._dist.version)
  File "C:\Users\LENOVO\anaconda3\lib\site-packages\pip\_vendor\packaging\version.py", line 56, in parse
    return Version(version)
  File "C:\Users\LENOVO\anaconda3\lib\site-packages\pip\_vendor\packaging\version.py", line 202, in __init__
    raise InvalidVersion(f"Invalid version: '{version}'")
pip._vendor.packaging.version.InvalidVersion: Invalid version: '4.0.0-unsupported'

Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)

In [2]:
# Download dataset using kaggle api
!kaggle datasets download -d ankitbansal06/retail-orders

2024-10-03 07:50:23,723 WARNING Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001BE3195D940>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /api/v1/datasets/download/ankitbansal06/retail-orders?datasetVersionNumber=None
2024-10-03 07:50:35,804 WARNING Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001BE3194DFD0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /api/v1/datasets/download/ankitbansal06/retail-orders?datasetVersionNumber=None
2024-10-03 07:50:47,849 WARNING Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001BE3194DAF0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /api/v1/datasets/download/ankitbansal06/retail-orders?datasetVersionNumber=None
Traceback (most recent call last):
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connection.py", line 169, in _new_conn
    conn = connection.create_connection(
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\util\connection.py", line 73, in create_connection
    for res in socket.getaddrinfo(host, port, family, socket.SOCK_STREAM):
  File "c:\users\lenovo\anaconda3\lib\socket.py", line 918, in getaddrinfo
    for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
socket.gaierror: [Errno 11001] getaddrinfo failed

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 699, in urlopen
    httplib_response = self._make_request(
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 382, in _make_request
    self._validate_conn(conn)
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 1010, in _validate_conn
    conn.connect()
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connection.py", line 353, in connect
    conn = self._new_conn()
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connection.py", line 181, in _new_conn
    raise NewConnectionError(
urllib3.exceptions.NewConnectionError: <urllib3.connection.HTTPSConnection object at 0x000001BE3193C910>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\lenovo\anaconda3\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\users\lenovo\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\LENOVO\anaconda3\Scripts\kaggle.exe\__main__.py", line 7, in <module>
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\cli.py", line 70, in main
    out = args.func(**command_args)
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\api\kaggle_api_extended.py", line 1493, in dataset_download_cli
    self.dataset_download_files(dataset,
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\api\kaggle_api_extended.py", line 1439, in dataset_download_files
    self.datasets_download_with_http_info(
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\api\kaggle_api.py", line 1563, in datasets_download_with_http_info
    return self.api_client.call_api(
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\api_client.py", line 329, in call_api
    return self.__call_api(resource_path, method,
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\api_client.py", line 161, in __call_api
    response_data = self.request(
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\api_client.py", line 351, in request
    return self.rest_client.GET(url,
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\rest.py", line 247, in GET
    return self.request("GET", url,
  File "c:\users\lenovo\anaconda3\lib\site-packages\kaggle\rest.py", line 220, in request
    r = self.pool_manager.request(method, url,
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\request.py", line 74, in request
    return self.request_encode_url(
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\request.py", line 96, in request_encode_url
    return self.urlopen(method, url, **extra_kw)
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\poolmanager.py", line 375, in urlopen
    response = conn.urlopen(method, u.request_uri, **kw)
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 783, in urlopen
    return self.urlopen(
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 783, in urlopen
    return self.urlopen(
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 783, in urlopen
    return self.urlopen(
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 755, in urlopen
    retries = retries.increment(
  File "c:\users\lenovo\anaconda3\lib\site-packages\urllib3\util\retry.py", line 574, in increment
    raise MaxRetryError(_pool, url, error or ResponseError(cause))
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='www.kaggle.com', port=443): Max retries exceeded with url: /api/v1/datasets/download/ankitbansal06/retail-orders?datasetVersionNumber=None (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001BE3193C910>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [3]:
# Unzip the file
import zipfile
zip_ref = zipfile.ZipFile('retail-orders.zip')
zip_ref.extractall()
zip_ref.close()

In [4]:
#Load the Dataset into Jupyter Notebook and handling null values
data = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])
data.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [5]:
# Rename columns names..make them lower case and replace space with unserscore
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(" ", "_")
data.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
# Derive new columns discount, sale price and profit
data['discount'] = data['list_price']* data['discount_percent']*0.1
data['sale_price'] = data['list_price']-data['discount']
data['profit'] = data['sale_price']* data['cost_price']
data.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,52.0,208.0,49920.0
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,219.0,511.0,306600.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,5.0,5.0,50.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,192.0,768.0,599040.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,10.0,10.0,200.0

In [7]:
# Convert order date to date format
data['order_date'] = pd.to_datetime(data['order_date'], format = "%Y-%m-%d")

In [8]:
# Drop cost price, price and discount percent colums
data.drop(columns=["list_price", "cost_price", "discount_percent"], inplace=True)

In [9]:
data.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,52.0,208.0,49920.0
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,219.0,511.0,306600.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,5.0,5.0,50.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,192.0,768.0,599040.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,10.0,10.0,200.0

In [10]:
import pyodbc
# Define your connection parameters
server = 'DESKTOP-AFB98K7'  
database = 'master'
username = 'Ngondzana T. Michael'
# Create a connection string
connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username}'

# Establish the connection
try:
    conn = pyodbc.connect(connection_string)
    print("Connection successful!")
    
    # Write the DataFrame to the SQL Server table
    data.to_sql('orders', conn, if_exists='append', index=False)

    print("Data written to the table successfully!")

except Exception as e:
    print("Error:", e)
finally:
    # Close the connection
    if 'conn' in locals():
        conn.close()

Error: ('28000', "[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Échec de l'ouverture de session de l'utilisateur\xa0'Ngondzana T. Michael'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Échec de l'ouverture de session de l'utilisateur\xa0'Ngondzana T. Michael'. (18456)")

In [16]:
from sqlalchemy import create_engine
engine = create_engine('mssql://DESKTOP-AFB98K7/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [17]:
data.to_sql('orders', con = conn, index =False, if_exists = 'append')